{% extends 'layouts/default.html' %}

{% block body %}
<h1>{ ACCUEIL }</h1>
<h2>Bienvenu {{ name }} </h2>
<p>
    <em>"La cryptomonnaie, parfois appelée crypto-monnaie ou crypto, est une forme de monnaie qui existe sous forme numérique
        ou virtuelle et qui utilise la cryptographie pour sécuriser les transactions."</em><br>
    <h3>Kaspersky</h3>
</p>
<p>
    Cette web application vous permettra d'en connaitre davantage sur plusieurs cryptomonnaies tel que
    le Bitcoin ou l'Etherum par exemple...
</p>
<p>
    Vous pourrez ainsi visionner et obtenir des informations sur : <br>
    <a href="/CoursFinanciers">- Les cours boursiers des différents actifs </a><br>
    <a href="/Consomations">- La consomation électrique </a><br>
    <a href="#">- Les différentes équipements permettant de miner </a><br>
    <a href="#">- Les info majeurs du moment sur l'univers des crypto </a><br>
    <a href="/errooroor">- errooroor </a><br>
</p>


{% endblock body %}
