{% extends 'layouts/default.html' %}

{% block body %}
    <h1>{{header}}</h1>
    <div id="chart" class="chart"></div>
    <div>{{description}}</div>
    <div>Graphique sur le  <a href="{{ url_for('Graph_C', Name=header) }}">{{header}}</a></div>

<script src="{{ url_for('static', filename='js/plotly-latest.min.js') }}"></script>
<script type="text/javascript">
    var graphs = {{graphJSON | safe}};
    Plotly.plot('chart',graphs,{});
</script>
{% endblock body %}