body {
    text-align: center;
    background:url(../asset/fondp.png) repeat;
}
p {
    color: white;
    font-family: Shanti;
    font-size: 1.2em;
    display: inline-block;
    margin:  20px;
}
img {
    margin: 60px 0 30px 0;
    width: 500px;
}
input {
  width: 300px;
  margin: 20px 20px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-family: Shanti;
  font-size: 1.3em;
  text-align: center;
}

input:focus {
    outline: none;
    border: solid 5px #001410;
}

#entrer {
    background-color: #00382E;
    border:  none;
    width:  200px;
    color: white;
}

#entrer:hover {
    background-color:  #001410;
}
