* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'liberation serif','lato','arial black','impact', sans-serif;
}

body {
	min-height: 100%;
	background:url(../asset/fondp.png) repeat;
	color: #fff;
}

.navigation {
	position: fixed;
	width: 60px;
	height: 100%;
	background:url(../asset/fond.png) repeat;
	transition: 0.5s;
	overflow: hidden;
	z-index: 9999;
}

.navigation:hover,
.navigation.active {
	width: 250px;
}

.navigation ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.navigation ul li {
	position: relative;
	width: 100%;
	list-style: none;
}

.navigation ul li:hover {
	background:url(../asset/fondp.png) repeat;
	border-radius:15px;
}

.navigation ul li a {
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: #fff;
}

.navigation ul li a .icon {
	position: relative;
	display: block;
	min-width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}

.navigation ul li a .icon .fa {
	font-size: 24px;
}

.navigation ul li a .title {
	position: relative;
	display: block;
	padding: 0 10px;
	height: 60px;
	line-height: 60px;
	text-align: start;
	white-space: nowrap;
}

.toggle {
	position: fixed;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	background:url(../asset/fond.png) repeat;
	color: #fff;
	border-color: white;
	border-radius: 50%;
	cursor: pointer;
}
/*
.toggle.active {
	position: fixed;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
*/
.main_searchBx, .searchBx, .query {
	position: fixed;
	top: 0;
	right: 0;
	margin-right: 35px;
	width: 300px;
	height: 30px;
	background:url(../asset/fond.png) repeat;
	color: #fff;
	text-align: center;
	border-radius: 15px;
	cursor: pointer;
}

.query:focus {
    outline: none;
}

h1, h2 {
	text-align:center;
	margin: 2%;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 1.5em;
	text-align: right;
	font-style: italic;
}

p {
	font-size: 1.5em;
	text-align: justify;
	margin: 3%;
	text-decoration: none;
	color: #fff;
}

a{
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: overline underline;
}

li {
	margin-top: 1%;
}

img {
	width: 100%;
	height: 100%;
}

main {
	margin-left: 5%;
	width: 90%;
}

.reduce {
	width: 80%;
	margin-left: 15%;
	padding-top: 15px;
}

.plotly-graph-div {
	margin-top: 15px;
	box-shadow: 0px 5px 5px black;
}

.plotly-graph-div2 {
	margin-top: 100px;
	box-shadow: 0px 5px 5px black;
}



@media (max-width: 767px) {
	h1 {
		font-size: 1.6em;
		margin: 3%;	
	}
	h2 {
		font-size: 1.3em;
		margin: 3%;	
	}
	.navigation {
		left: -60px;
	}
	.navigation.active {
		left: 0px;
		width: 100%;
	}
	table {
		visibility: hidden;	
		display: none;
	}
	.sans_tab {
		display: inherit;
		visibility: visible;
}
}


.sans_tab {
	visibility: hidden;
	display: none;
	margin: 30px;
}

thead {
	font-size: 1.4em;
	text-align: center;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid white;
  text-align: left;
}

thead th:nth-child(1) {
  width: 17%;
}

thead th:nth-child(2) {
  width: 10%;
}

thead th:nth-child(3) {
  width: 10%;
}

thead th:nth-child(4) {
  width: 12%;
}
thead th:nth-child(5) {
  width: 12%;
}
thead th:nth-child(6) {
  width: 10%;
}
thead th:nth-child(7) {
  width: 10%;
}
thead th:nth-child(8) {
  width: 10%;
}

th, td {
  padding: 20px;
}


