<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello Crypto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bienvenu.css') }}">
</head>
<body>
    <img src="../static/asset/hello.png">
    <br>
    <p>Identifiez vous avec un pseudo</p>
    <br>
    <form action="/setcookie" method="post">
        <br>
        <input type="text" name="name_input">
        <br>
        <input type="submit" value="ENTRER" id="entrer">
    </form>
</body>
</html>