<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<title>Dashboard Crypto</title>
    	<link rel="stylesheet" type="text/css" href="static/css/style.css" />
        <link rel="stylesheet" href="static/fontawesome-free-5.15.4-web/css/all.css">



    </head>
    <body>
        <header>
            {% include 'partials/_nav.html' %}
        </header>
        <main>
            <div class="reduce">
            {% block body %}{% endblock body %}
            </div>
        </main>

        <form class="main_searchBx" action="{{ url_for('Search') }}">
            <div class="searchBx">
                <input type="search" name="q" class="query" aria-label="Search" placeholder="Search a crypto...">
            </div>
        </form>

        <div class="toggle" onclick="toggleMenu()"></div>

		<script type="text/javascript">
			function toggleMenu() {
				let navigation = document.querySelector('.navigation');
				let toggle = document.querySelector('.toggle');
				navigation.classList.toggle('active');
				toggle.classList.toggle('active');
			}
		</script>
        <footer>
        </footer>
    </body>
</html>

