<!DOCTYPE html>
<html lang="fr">
    <head>
      <meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<title>{% block title %} {% endblock %}</title>
    	<link rel="stylesheet" type="text/css" href="static/css/style.css" />
    </head>
    <body>
        <header>
        </header>
        <main>
            <section></section>
                <h1><a href="{{ url_for('index') }}">Accueil</a></h1>
                <h1><a href="{{ url_for('graph') }}">Graphique</a></h1>
                <h1><a href="{{ url_for('create') }}">Ajouter Crypto</a></h1>

            {% block content %} {% endblock %}

            <article></article>
        </main>
        <footer>
        </footer>
    </body>
</html>