{% extends 'base.html' %}

{% block content %}
    <h1 style="width: 100%">
        {% block title %} Edit {{ addcrypto.name_crypto }}
                               {{ addcrypto.lastname }}'s Details
        {% endblock %}
    </h1>
    <form method="post">
        <p>
            <label for="name_crypto">Nom de la crypto</label>
            <input type="text" name="name_crypto" value={{ addcrypto.name_crypto }} placeholder="Name Crypto">
            </input>
        </p>

        <p>
            <label for="quantity_crypto">Quantité de la crypto</label>
            <input type="text" name="quantity_crypto" value={{ addcrypto.quantity_crypto }} placeholder="Quantity Crypto">
            </input>
        </p>

        <p>
            <button type="submit">Modifier</button>
        </p>
    </form>
{% endblock %}