{% extends 'base.html' %}

{% block content %}
    <h1 style="width: 100%">{% block title %} Accueil {% endblock %}</h1>

    {% for info_crypto in visible_crypto %}
        <p>Vous avez {{ info_crypto.quantity_crypto }} {{ info_crypto.name_crypto }} dans votre porte veuille d'actif</p>
        <a href="{{ url_for('edit', crypto_id=info_crypto.id) }}">Modifier</a>
        <form method="POST" action="{{ url_for('delete', crypto_id=info_crypto.id) }}">
            <input type="submit" value="Supprimer" onclick="return confirm('Est-vous sur de vouloir supprimer cette cryptomonnaie de votre portfolio ?')">
        </form>
        <hr>
    {% endfor %}

{% endblock %}