<div class="navigation">
    <ul>
        <li>
            <a href="/Accueil">
                <span class="icon"><i class="fas fa-home" aria-hidden="true"></i></span>
                <span class="title">Accueil</span>
            </a>
        </li>
        <li>
            <a href="/Profile">
                <span class="icon"><i class="fas fa-user" aria-hidden="true"></i></span>
                <span class="title">Profile</span>
            </a>
        </li>
        <li>
            <a href="/Contacts">
                <span class="icon"><i class="fas fa-address-book" aria-hidden="true"></i></span>
                <span class="title">Contacts</span>
            </a>
        </li>
        <li>
            <a href="/Messages">
                <span class="icon"><i class="fas fa-comment" aria-hidden="true"></i></span>
                <span class="title">Messages</span>
            </a>
        </li>
        <li>
            <a href="/CoursFinanciers">
                <span class="icon"><i class="fas fa-tachometer-alt" aria-hidden="true"></i></span>
                <span class="title">Cours Financiers</span>
            </a>
        </li>
        <li>
            <a href="/Consomations">
                <span class="icon"><i class="fas fa-bolt" aria-hidden="true"></i></span>
                <span class="title">Consomations</span>
            </a>
        </li>
        <li>
            <a href="/Identification">
                <span class="icon"><i class="fas fa-lock" aria-hidden="true"></i></span>
                <span class="title">S'identifier</span>
            </a>
        </li>
        <li>
            <a href="/Deconnexion">
                <span class="icon"><i class="fas fa-sign-out-alt" aria-hidden="true"></i></span>
                <span class="title">Déconnexion</span>
            </a>
        </li>
        <li>
            <a href="/Aides">
                <span class="icon"><i class="fas fa-question-circle" aria-hidden="true"></i></span>
                <span class="title">Aides</span>
            </a>
        </li>
        <li>
            <a href="/Parametres">
                <span class="icon"><i class="fas fa-cog" aria-hidden="true"></i></span>
                <span class="title">Paramètres</span>
            </a>
        </li>

    </ul>
</div>
